-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{params[:sort] == "title" ? {:class => "hilite"} : {}, :id => "title_header"}= sortable "title", "Movie Title"
      %th{params[:sort] == "rating" ? {:class => "hilite"} : {}, :id => "title_header"}= sortable "rating", "Rating"
      %th{params[:sort] == "release_date" ? {:class => "hilite"} : {}, :id => "title_header"}= sortable "release_date", "Release Date"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
